@keyframes anim-intro-changer {
    0% { 
        transform: translateY(100%);
        opacity: 0;
        filter: blur(2px);
    }
    20%, 80%{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
    100% { 
        transform: translateY(-100%);
        opacity: 0;
        filter: blur(2px);
    }
}

.presentation-container{
    display: flex;
    flex-direction: column; 
    max-width: 750px;
}
.profile-photo-container{
    background-image: linear-gradient(135deg, #222 0%, #333 100%);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-photo{
    width: 93%;
    height: 93%;
}
.profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.text-intro h1{
    margin: 0%;
    text-align: left;
    font-size: 50px;
}
.intro-name{
    color: #bb86fc;
}
#intro-changer{
    height: 70px;
    overflow: hidden;
}
#intro-changer span{
    transform: translateY(100%);
    display: inline-block;
    animation: anim-intro-changer 2000ms infinite;
}
.text-aboutme{
    font-size: 25px;
    font-weight: 500;
    color: #909090;
}
.buttons-contact{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media (max-width: 768px){
    .presentation-container{
        align-items: center;
    }
    .text-intro h1{
        text-align: center;
        font-size: 30px;
    }
    #intro-changer{
        height: 45px;
    }
    .text-aboutme{
        padding: 0 25px;
        text-align: center;
        font-size: 15px;
    }
}